@import "tailwindcss";

@theme {
  --font-heading: 'Source Sans 3 Variable', sans-serif;
  --font-sans: 'Source Sans 3 Variable', sans-serif;
  --animate-slide-left-infinite: slide-left 15s linear infinite;

  @keyframes slide-left {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }
}

button:hover {
  cursor: pointer;
}

a:not(.btn) {
  cursor: pointer;
  text-decoration: none;
  text-underline-offset: 1px;
  transition: text-decoration-color 0.4s ease, text-underline-offset 0.4s ease;
}

a:not(.btn):hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}

h2 {
  font-size: 2.25rem;
}

p {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  p {
    font-size: 1.25rem;
    margin: 0 1rem 1rem 0;
  }
}